{% extends 'base.html' %}
{% load static %}
{% block content %}
		<!-- Details Page -->
		<section>
			<div class="details container">
				<div class="details-action">
					<div class="details-action-box">
						<img
							src="https://d3j0t7vrtr92dk.cloudfront.net/p4i/1524907783_%20%D0%BA%D1%83%D1%80%D1%81%D0%BE%D0%B2-03.png?"
							alt="Фото курса"
							class="details-action-box-img"
						/>
					</div>
					<div class="details-action-btn">Получить этот курс</div>
				</div>
				<div class="details-content">
					<div class="details-content-title">
						<p>Курсы на русском языке</p>
						<h3>Event-менеджмент</h3>
					</div>
					<p class="details-content-desc">
						Вам нужно провести мероприятие на высшем уровне? Тогда Вам сюда! Без
						планирования и правильно поставленных задач, организация мероприятия
						может показаться невероятно трудной задачей. Данный курс послужит
						для вас ключом в планировании грандиозных мероприятий.
					</p>

					<div class="details-fieldset">
						<div class="details-fieldset-title">КОНТЕНТ</div>
						<div class="details-fieldset-section">
							<h4 class="details-fieldset-section-title">ВВЕДЕНИЕ</h4>
							<div class="details-fieldset-section-item">
								<img src="{% static '/images/icon_videoplay.svg' %}" alt="play" />
								<p>Введение.mp4</p>
							</div>
							<div class="details-fieldset-section-item">
								<img src="{% static '/images/icon_videoplay.svg' %}" alt="play" />
								<p>Введение.mp4</p>
							</div>
						</div>

						<div class="details-fieldset-section">
							<h4 class="details-fieldset-section-title">
								УРОК 1. ПЛАНИРОВАНИЕ
							</h4>
							<div class="details-fieldset-section-item">
								<img src="{% static '/images/icon_videoplay.svg' %}" alt="play" />
								<p>Планирование.mp4</p>
							</div>
						</div>

						<div class="details-fieldset-section">
							<h4 class="details-fieldset-section-title">УРОК 2. КОМАНДА</h4>
							<div class="details-fieldset-section-item">
								<img src="{% static '/images/icon_videoplay.svg' %}" alt="play" />
								<p>Команда.mp4</p>
							</div>
						</div>

						<div class="details-fieldset-section">
							<h4 class="details-fieldset-section-title">УРОК 2. КОМАНДА</h4>
							<div class="details-fieldset-section-item">
								<img src="{% static '/images/icon_videoplay.svg' %}" alt="play" />
								<p>Команда.mp4</p>
							</div>
						</div>

						<div class="details-fieldset-section">
							<h4 class="details-fieldset-section-title">
								УРОК 3. БЮДЖЕТ И ПРОГРАММА
							</h4>
							<div class="details-fieldset-section-item">
								<img src="{% static '/images/icon_videoplay.svg' %}" alt="play" />
								<p>Бюджет и программа.mp4</p>
							</div>
						</div>

						<div class="details-fieldset-section">
							<h4 class="details-fieldset-section-title">УРОК 4. УЧАСТНИКИ</h4>
							<div class="details-fieldset-section-item">
								<img src="{% static '/images/icon_videoplay.svg' %}" alt="play" />
								<p>Участники.mp4</p>
							</div>
						</div>

						<div class="details-fieldset-section">
							<h4 class="details-fieldset-section-title">
								УРОК 5. PR - СОПРОВОЖДЕНИЕ
							</h4>
							<div class="details-fieldset-section-item">
								<img src="{% static '/images/icon_videoplay.svg' %}" alt="play" />
								<p>PR-сопровождение.mp4</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Details page end -->

{% endblock %}
